@import './nav';
@import './userCall';
@import './projectItem';
@import './editProject';
@import './addProject';
@import './projectList';

.big_header {
    text-align: center;
    color: #8902ff;
}

.dashboard_main {
    &__callList {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
    }
}

// .project_main {
//     &__projectList {
//         display: grid;
//         grid-template-columns: repeat(6, 1fr);
//         align-items: center;
//     }
// }

.no_data_text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}